<!DOCTYPE HTML>
<html>
  <head>
    <title>#HackTheHouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/notman.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.14.3/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/notman.js"></script>
  </head>
  <body ng-app="notman">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://maison-notman-house.github.io">
            #HackTheHouse
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="http://notman.ca/" target="_blank">
                    Notman House
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>

      <!--------------------------------------------------------------------->
      <!----- This is the start of the content section ---------------------->
      <!--------------------------------------------------------------------->
      <div class="container-fluid">
        <img src="images/hackthehouse-logo.jpg" class="img-responsive">
        <p> &nbsp; <!-- Perhaps a description here in future? --> </p>
        <uib-tabset>
          <!----- About tab ----------------------------------------------->
          <uib-tab heading="About">
            <div class="row">
              <div class="col-md-8">
                <h1> Overview </h1>
                <p> #HacktheHouse is a first of its kind project that will bring together the Montreal Innovation community to respond to some of the biggest challenges facing existing industries like real-estate and building construction, together with the emerging solutions being developed by large companies and startups alike working to develop technological solutions that will make our infrastructure, 'smarter', easier to manage, and connected with the world. </p>
                <h1> Directory <small> Everything in its place </small> </h1>
                <p> This page, <a href="http://maison-notman-house.github.io/" target="_blank">maison-notman-house.github.io</a> serves as a community-managed information repository for the project.  Navigate using the tabs above. </p>
                <p> Kindly use the channels below as prescribed. </p>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <h2> notman.org <small> Official site </small> </h2>
                    <p> The <i>official</i> #HackTheHouse page is hosted at <a href="http://notman.org/hackthehouse/" target="_blank">notman.org/hackthehouse/</a> </p>
                    <h2> Eventbrite <small> Registration </small> </h2>
                    <ul> 
                      <li> <a href="http://www.eventbrite.ca/e/hackthehouse-1-le-corps-the-body-tickets-22495041274" target="_blank">#HackTheHouse 1: The Body</a> &nbsp; March 11-13, 2016
                      <li> <a href="https://www.eventbrite.ca/e/hackthehouse-meetup-2-tickets-24939512754" target="_blank">#HackTheHouse Meetup</a> &nbsp; May 16, 2016
                      <li> <a href="https://www.eventbrite.ca/e/hackthehouse-meetup-tickets-25797616365" target="_blank">#HackTheHouse Meetup</a> &nbsp; June 27, 2016
                      <li> <a href="https://www.eventbrite.ca/e/hackthehouse-2-le-coeur-the-heart-tickets-26756963799" target="_blank">#HackTheHouse 2: The Heart</a> &nbsp; July, 2016
                      <li> <a href="https://www.eventbrite.ca/e/hackthehouse-3-le-cerveau-the-brain-tickets-29014721814" target="_blank">#HackTheHouse 3: The Brain</a> &nbsp; November 11-13, 2016
                    </ul>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <h2> Slack <small> Communication </small> </h2>
                    <p> Participants and collaborators are encouraged to use <a href="https://hackthehouseteam.slack.com" target="_blank">hackthehouseteam.slack.com</a> as the primary communication channel. </p>
                    <h2> GitHub <small> Development </small> </h2>
                    <p> Participants and collaborators are encouraged to use <a href="https://github.com/maison-notman-house" target="_blank">github.com/maison-notman-house</a> as their repository for development. </p>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <a class="twitter-timeline"  href="https://twitter.com/hashtag/HackTheHouse" data-widget-id="797984135650414592">#HackTheHouse Tweets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
              </div>              
            </div>
          </uib-tab>
          <!----- Dashboards tab ------------------------------------------>
          <uib-tab heading="Dashboards">
            <h1> Dashboards <small>and other displays</small> </h1>
            <div class="row">
              <div class="col-md-4">
                <h2> Entance Dashboard </h2>
                <p><a href="https://github.com/maison-notman-house/notman-entrance-dashboard" target="_blank"> Code on GitHub </a></p>
                <img src="images/screenshot-notman-entrance-dashboard.jpg"
                     class="img-responsive">
              </div>
              <div class="col-md-4">
                <h2> reelyActive Dashboard </h2>
                <p><a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard" target="_blank"> Code on GitHub </a></p>
                <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/" target="_blank">
                  <img src="images/screenshot-notman-reelyactive-dashboard.jpg"
                       class="img-responsive">
                </a>
              </div>
              <div class="col-md-4">
                <h2> Netatmo Dashboard </h2>
                <p><a href="https://github.com/maison-notman-house/notman-netatmo-dashboard" target="_blank"> Code on GitHub </a></p>
                <a href="https://maison-notman-house.github.io/notman-netatmo-dashboard/" target="_blank">
                  <img src="images/screenshot-notman-netatmo-dashboard.jpg"
                       class="img-responsive">
                </a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <h2> Tonal Presence </h2>
                <p><a href="https://github.com/maison-notman-house/notman-tonal-presence" target="_blank"> Code on GitHub </a></p>
                <a href="https://maison-notman-house.github.io/notman-tonal-presence/" target="_blank">
                  <img src="images/screenshot-notman-tonal-presence.jpg"
                       class="img-responsive">
                </a>
              </div>
              <div class="col-md-4">
                <h2> Initial State </h2>
                <p><a href="https://www.initialstate.com/workswith/" target="_blank"> Integrations </a></p>
                <a href="https://app.initialstate.com/#/tiles/87d6da51-e807-41ec-aa18-a6140182e27f" target="_blank">
                  <img src="images/screenshot-initial-state-dashboard.jpg"
                       class="img-responsive">
                </a>
              </div>
              <div class="col-md-4">
              </div>
            </div>
          </uib-tab>
          <!----- Datasets tab -------------------------------------------->
          <uib-tab heading="Datasets">
            <div class="row">
              <div class="col-md-6">
                <h1> Datasets <small> to crunch </small> </h1>
                <h2> Netatmo environmental data </h2>
                <ul>
                  <li> <a href="datasets/notman/M307-161207.csv"> M307 </a>
                       (3rd floor) through 07 12 16 
                  <li> <a href="datasets/notman/M234-161207.csv"> M234 </a>
                       (2nd floor) through 07 12 16 
                  <li> <a href="datasets/notman/M134-161207.csv"> M134 </a>
                       (1st floor) through 07 12 16
                  <li> <a href="datasets/notman/M034-161207.csv"> M034 </a>
                       (Caf&eacute;) through 07 12 16
                </ul>
                <h2> Compiled Datasets </h2>
                <ul>
                  <li> Physical presences and social impressions
                       <a href="datasets/notman-physical-social-impressions-jun-oct-2016.xlsx"> XLSX </a> |
                       <a href="datasets/notman-physical-social-impressions-jun-oct-2016.csv"> CSV </a>
                </ul>
              </div>
              <div class="col-md-6">
                <h1> Occupants </h1>
                <p><a href="https://github.com/maison-notman-house/notman-occupants" target="_blank"> Code on GitHub </a></p>
                <a href="https://maison-notman-house.github.io/notman-occupants" target="_blank">
                  <img src="images/screenshot-notman-occupants.jpg"
                       class="img-responsive">
                </a>
                <p> &nbsp; </p>
              </div>
            </div>
          </uib-tab>
          <!----- APIs tab ------------------------------------------------>
          <uib-tab heading="APIs">
            <h1> Unified API </h1>
            <p> A unified API was proposed at the first hackathon and work is in progress.  Proposed queries include: </p>
            <ul>
              <li> how many people were in a given room over a given period?
              <li> who is in the house?
              <li> where are the people in the house?
              <li> what is a given sensor value in a given room?
            </ul>
            <h1> Partner APIs </h1>
            <p> Click on the partners below for more information on their APIs. </p>
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <uib-accordion>
                  <!----- Bubbles APIs -------------------------------------->
                  <uib-accordion-group heading="Bubbles Company (The)">
                    <table class="table table-hover">
                      <tr>
                        <th> API Doc </th>
                        <td> <a href="http://developers.my-bubbles.com/" target="_blank">developers.my-bubbles.com</a> </td>
                      </tr>
                      <tr>
                        <th class="active"> Company Webpage </th>
                        <td> <a href="http://my-bubbles.com/"
                                target="_blank">my-bubbles.com</a> </td>
                      </tr>
                    </table>
                  </uib-accordion-group>
                  <!----- DasBox APIs --------------------------------------->
                  <uib-accordion-group heading="DasBox">
                    <table class="table table-hover">
                      <tr>
                        <th> API Doc </th>
                        <td> <a href="http://api.dasbox.io/"
                                target="_blank">api.dasbox.io</a> </td>
                      </tr>
                      <tr>
                        <th class="active"> Company Webpage </th>
                        <td> <a href="http://dasbox.io/"
                                target="_blank">dasbox.io</a> </td>
                      </tr>
                    </table>
                  </uib-accordion-group>
                  <!----- Distech Controls APIs ----------------------------->
                  <uib-accordion-group heading="Distech Controls">
                    <table class="table table-hover">
                      <tr>
                        <th> API Doc </th>
                        <td> Coming soon... </td>
                      </tr>
                      <tr>
                        <th class="active"> Company Webpage </th>
                        <td> www.distech-controls.com
                          <a href="http://www.distech-controls.com/en/ca/"
                             target="_blank"> English </a> |
                          <a href="http://www.distech-controls.com/fr/ca/"
                             target="_blank"> Fran&ccedil;ais </a>
                        </td>
                      </tr>
                    </table>
                  </uib-accordion-group>
                  <!----- mnubo APIs ---------------------------------------->
                  <uib-accordion-group heading="mnubo">
                    <table class="table table-hover">
                      <tr>
                        <th> SDKs </th>
                        <td> <a href="https://github.com/mnubo"
                                target="_blank">github.com/mnubo</a> </td>
                      </tr>
                      <tr>
                        <th> Notman API </th>
                        <td> <a href="http://reelyactive.sandbox.mnubo.com"
                                target="_blank">reelyactive.sandbox.mnubo.com</a> </td>
                      </tr>
                      <tr>
                        <td> &#8594; Client id </td>
                        <td> <tt> Rq5XlgEovIlnT7iON2lco9yhHMQ3nH8IrdBwFltdRsw7XkmoHA </tt> </td>
                      </tr>
                      <tr>
                        <td> &#8594; Client secret </td>
                        <td> <tt> t8wlAN30cpgOHSgz0W5Lc1Tcj8qe0RJsybHng8mMuuvbKcbWuG </tt> </td>
                      </tr>
                      <tr>
                        <th class="active"> Company Webpage </th>
                        <td> <a href="http://mnubo.com/"
                                target="_blank">mnubo.com</a> </td>
                      </tr>
                    </table>
                  </uib-accordion-group>
                </uib-accordion>
              </div>
              <div class="col-sm-12 col-md-6">
                <uib-accordion>
                  <!----- MySeat APIs --------------------------------------->
                  <uib-accordion-group heading="MySeat">
                    <table class="table table-hover">
                      <tr>
                        <th> Dashboard </th>
                        <td> <a href="https://notman-house.myseat.ca/Map/Live/Alias/Notman_House_18" target="_blank">notman-house.myseat.ca/.../Notman_House_18</a> </td>
                      </tr>
                      <tr>
                        <th> API Doc </th>
                        <td> <a href="https://notman-house.myseat.ca/apiV2.pdf" target="_blank">PDF</a> </td>
                      </tr>
                      <tr>
                        <th> GET Chairs </th>
                        <td> <a href="https://notman-house.myseat.ca/APIV2/GetChairs/key/FFLBBcjuJlPQxBJ1l5CcuFTA5yboUR21mDrOGC9f" target="_blank">notman-house.myseat.ca/.../GetChairs/...</a> </td>
                      </tr>
                      <tr>
                        <th> GET Raw Data </th>
                        <td> <a href="https://notman-house.myseat.ca/APIV2/GetRawData/key/FFLBBcjuJlPQxBJ1l5CcuFTA5yboUR21mDrOGC9f" target="_blank">notman-house.myseat.ca/.../GetRawData/...</a> </td>
                      </tr>
                      <tr>
                        <th class="active"> Company Webpage </th>
                        <td> <a href="http://myseat.ca" target="_blank">myseat.ca</a> </td>
                      </tr>
                    </table>
                  </uib-accordion-group>
                  <!----- reelyActive APIs ---------------------------------->
                  <uib-accordion-group heading="reelyActive">
                    <table class="table table-hover">
                      <tr>
                        <th> #HackTheHouse </th>
                        <td> <a href="http://reelyactive.github.io/hackthehouse.html" target="_blank">Quick Start</a> </td>
                      </tr>
                      <tr>
                        <th> API Doc </th>
                        <td> <a href="http://context.reelyactive.com/api.html" target="_blank">context.reelyactive.com/api.html</a> </td>
                      </tr>
                      <tr>
                        <th> Contextual API </th>
                        <td> <a href="http://www.hyperlocalcontext.com/contextat/directory/notman" target="_blank">www.hyperlocalcontext.com/contextat/directory/notman</a> </td>
                      </tr>
                      <tr>
                        <th> Websockets API </th>
                        <td> <a href="http://www.hyperlocalcontext.com/notman" target="_blank">www.hyperlocalcontext.com/notman</a> (Connect with socket.io) </td>
                      </tr>
                      <tr>
                        <th> smartspac.es </th>
                        <td> <a href="http://smartspac.es/notman" target="_blank">smartspac.es/notman</a> </td>
                      </tr>
                      <tr>
                        <th> reelyApp </th>
                        <td> <a href="https://play.google.com/store/apps/details?id=com.reelyactive.reelyapp" target="_blank">Android</a> | iOS </td>
                      </tr>
                      <tr>
                        <th class="active"> Company Webpage </th>
                        <td> <a href="http://context.reelyactive.com" target="_blank">context.reelyactive.com</a> </td>
                      </tr>
                    </table>
                  </uib-accordion-group>
                  <!----- Ubios APIs ---------------------------------------->
                  <uib-accordion-group heading="Ubios">
                    <table class="table table-hover">
                      <tr>
                        <th class="active"> Company Webpage </th>
                        <td> <a href="http://www.ubios.co/"
                                target="_blank">ubios.co</a> </td>
                      </tr>
                    </table>
                  </uib-accordion-group>
                </uib-accordion>
              </div>
            </div>
          </uib-tab>
          <!----- Sensors tab ----------------------------------------------->
          <uib-tab heading="Sensors">
            <h1> Deployed Sensors </h1>
            <div class="row">
              <div class="col-md-6">
                <table class="table table-hover">
                  <caption> DEPLOYED NEARABLES TEMPERATURE/MOTION SENSORS </caption>
                  <thead>
                    <tr>
                      <th> 64-bit ID </th>
                      <th> Description </th>
                      <th> Location </th>
                      <th> State </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> <tt> 35dd95220da1a184 </tt> </td>
                      <td> Teal Door </td>
                      <td> M307 </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 82a3b63e3bf09d49 </tt> </td>
                      <td> Mauve Luggage </td>
                      <td> M301X </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> e79ad1ae6d2127e4 </tt> </td>
                      <td> Teal Door </td>
                      <td> M234 </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 201a1c507e60ee9c </tt> </td>
                      <td> Mauve Luggage </td>
                      <td> M231X </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> b2d5d73799044c80 </tt> </td>
                      <td> Pink Fridge </td>
                      <td> M2-Freezer </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> bd50e77c551f034c </tt> </td>
                      <td> Pink Fridge </td>
                      <td> M2-Fridge </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 12130aa1975177df </tt> </td>
                      <td> Pink Door </td>
                      <td> M134 </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 0a5f7502b7b9788e </tt> </td>
                      <td> Blue Shoe </td>
                      <td> M139X </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> b92cd7c1cd681566 </tt> </td>
                      <td> Mauve Luggage </td>
                      <td> M130X </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> b4522194048a10a4 </tt> </td>
                      <td> Blue Car </td>
                      <td> M031 </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 553fd581e00ee1ae </tt> </td>
                      <td> Blue Car </td>
                      <td> M031 </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 6d3ad3b00775baad </tt> </td>
                      <td> Mauve Bike </td>
                      <td> M036X </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 0efca4f3710a0b8a </tt> </td>
                      <td> Mauve Blank </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> ea2e931bd7afb79b </tt> </td>
                      <td> Pink Fridge </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> f3ea6097fff6d857 </tt> </td>
                      <td> Radioactive Bed </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 571bad2436b7f01f </tt> </td>
                      <td> Pink Bike </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 25d7add5b5129027 </tt> </td>
                      <td> Pink Shoe </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 180563d4c02cce6d </tt> </td>
                      <td> Blue Chair </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 7536f178d908419e </tt> </td>
                      <td> Teal Dog </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 8cab10d772131f10 </tt> </td>
                      <td> Mauve Blank </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> e20f9c15abc63fa0 </tt> </td>
                      <td> Pink Shoe </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> d9cff23b4db1711f </tt> </td>
                      <td> Pink Bike </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 958bca978d3bbcf1 </tt> </td>
                      <td> Teal Dog </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 1b253d8892b4eb65 </tt> </td>
                      <td> Blue Chair </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> dba4f5fa14f2aeae </tt> </td>
                      <td> Radioactive Bed </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> c0568bd3064dd9a0 </tt> </td>
                      <td> Pink Blank </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> e2cd1c35cce69d91 </tt> </td>
                      <td> Radioactive Dog </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> b264c65dcf6ed7b5 </tt> </td>
                      <td> Blue Chair </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 5ba93a87676dd5ec </tt> </td>
                      <td> Teal Car </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                    <tr>
                      <td> <tt> 9b3408a07754cbc4 </tt> </td>
                      <td> Teal Bed </td>
                      <td> TBD </td>
                      <td> To come... </td>
                    </tr>
                  </tbody>
                </table>
                <p> See <a href="http://developer.estimote.com/nearables/" target="_blank"> developer.estimote.com/nearables </a> </p>
              </div>
              <div class="col-md-6">
                <table class="table table-hover">
                  <caption> DEPLOYED NETATMO ENVIRONMENTAL SENSORS </caption>
                  <thead>
                    <tr>
                      <th> Device </th>
                      <th> Location </th>
                      <th> State </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> Indoor Module </td>
                      <td> M307 </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-netatmo-dashboard/" target="_blank"> notman-netatmo-dashboard </a> </td>
                    </tr>
                    <tr>
                      <td> Indoor Module </td>
                      <td> M234 </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-netatmo-dashboard/" target="_blank"> notman-netatmo-dashboard </a> </td>
                    </tr>
                    <tr>
                      <td> Indoor Module </td>
                      <td> M134 </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-netatmo-dashboard/" target="_blank"> notman-netatmo-dashboard </a> </td>
                    </tr>
                    <tr>
                      <td> Indoor Module </td>
                      <td> M034 </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-netatmo-dashboard/" target="_blank"> notman-netatmo-dashboard </a> </td>
                    </tr>
                    <tr>
                      <td> Outdoor Module </td>
                      <td> TBD </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-netatmo-dashboard/" target="_blank"> notman-netatmo-dashboard </a> </td>
                    </tr>
                  </tbody>
                </table>
                <p> See <a href="https://www.netatmo.com/product/weather/weatherstation" target="_blank"> www.netatmo.com/product/weather/weatherstation </a> </p>
              </div>
            </div>
          </uib-tab>
          <!----- reelyActive devices tab ----------------------------------->
          <uib-tab heading="reelyActive">
            <h1> reelyActive Platform </h1>
            <div class="row">
              <div class="col-md-6">
                <table class="table table-hover">
                  <caption> REELYACTIVE REELCEIVERS, APIS AND METADATA </caption>
                  <thead>
                    <tr>
                      <th> Directory </th>
                      <th> Reelceiver ID </th>
                      <th> Place Metadata </th>
                      <th> APIs </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> notman:third:west </td>
                      <td> <tt>001bc509408100df</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/3w.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/3w.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc509408100df" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc509408100df" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:third:centre </td>
                      <td> <tt>001bc5094081010b</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/3c.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/3c.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc5094081010b" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc5094081010b" target="_blank">Context at?</a> </td>
                     </tr>
                     <tr>
                      <td> notman:third:east </td>
                      <td> <tt>001bc5094081010c</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/3e.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/3e.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc5094081010c" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc5094081010c" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:second:west </td>
                      <td> <tt>001bc509408100dc</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/2w.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/2w.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc509408100dc" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc509408100dc" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:second:centre </td>
                      <td> <tt>001bc509408100dd</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/2c.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/2c.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc509408100dd" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc509408100dd" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:second:east </td>
                      <td> <tt>001bc509408100de</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/2e.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/2e.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc509408100de" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc509408100de" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:first:west </td>
                      <td> <tt>001bc509408100d9</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/1w.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/1w.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc509408100d9" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc509408100d9" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:first:centre </td>
                      <td> <tt>001bc509408100da</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/1c.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/1c.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc509408100da" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc509408100da" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:first:east </td>
                      <td> <tt>001bc509408100db</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/1e.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/1e.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc509408100db" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc509408100db" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:cafe </td>
                      <td> <tt>001bc5094081013d</tt> </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/cafe.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/cafe.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc5094081013d" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc5094081013d" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:cafe </td>
                      <td> <tt>001bc5094b289f0e</tt> (Raspberry Pi) </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/cafe.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/cafe.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc5094b289f0e" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc5094b289f0e" target="_blank">Context at?</a> </td>
                    </tr>
                    <tr>
                      <td> notman:cafe </td>
                      <td> <tt>001bc50940800028</tt> (Active RFID) </td>
                      <td> <a href="https://maison-notman-house.github.io/notman-reelyactive-dashboard/places/cafe.html" target="_blank">HTML</a> | <a href="https://github.com/maison-notman-house/notman-reelyactive-dashboard/blob/gh-pages/places/cafe.html" target="_blank">Source</a> </td>
                      <td> <a href="http://www.hyperlocalcontext.com/whatat/receiver/001bc50940800028" target="_blank">What at?</a> | <a href="http://www.hyperlocalcontext.com/contextat/receiver/001bc50940800028" target="_blank">Context at?</a> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-md-6">
                <img src="images/hackthehouse-matterport.jpg"
                     class="img-responsive">
              </div>
            </div>
          </uib-tab>
        </uib-tabset>
      </div>
      <!--------------------------------------------------------------------->
      <!----- This is the end of the content section ------------------------>
      <!--------------------------------------------------------------------->

      <footer class="footer">
        <p> #HackTheHouse </p>
      </footer>
    </div>
  </body>
</html>
