<!DOCTYPE HTML>
<html>
  <head>
    <title>#HackTheHouse</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="style/notman.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="js/notman.js"></script>
  </head>
  <body ng-app="notman">
    <div ng-controller="InteractionCtrl">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"
                  ng-init="navCollapsed = true"
                  ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="http://maison-notman-house.github.io">
            #HackTheHouse
          </a>
        </div>
        <div class="collapse navbar-collapse" ng-class="!navCollapsed && 'in'"
             ng-click="navCollapsed = true">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown" dropdown on-toggle="toggled(open)">
              <a href class="dropdown-toggle" dropdown-toggle role="button"
                 data-toggle="dropdown" aria-haspopup="true"
                 aria-expanded="false">
                Quick links <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="http://notman.ca/" target="_blank">
                    Notman House
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
      <div class="container-fluid">
        <div class="row">
          <img src="images/hackthehouse-logo.jpg" class="img-responsive">
        </div>
      </div>
      <footer class="footer">
        <p> #HackTheHouse </p>
      </footer>
    </div>
  </body>
</html>
